.wrapper {
	display: block;
	margin-top: 7px;
}

.title {
	display: block;
	font-size: 14px;
}

.input {
	display: block;
	width: 95%;
	font-size: 15px;
	padding: 7px;
}

.input:focus {
	border: 1px solid #3645aa;
	border-radius: 3px;
}

.input::placeholder {
	font-style: italic;
	color: #838383;
}
